.card__title__hightlightWithIcon,
.card__title__hightlightNoIcon,
.card__title__hightlightWithIcon--lg,
.card__title__hightlightNoIcon--lg {
  position: relative;
  z-index: 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    z-index: -1;
    background-color: lighten($primary, 15%);
    border-radius: $border-radius-sm;
  }
}
.card__title__hightlightWithIcon {
  &:before {
    left: calc(-30px - 0.5rem); // icon長度＋margin長度
    width: calc(100% + 1.5rem + 30px + 0.5rem); // 字串長度＋右側多出來的長度＋icon長度＋margin長度
    height: 60%;
  }
}
.card__title__hightlightNoIcon {
  &:before {
    left: calc(-0.5rem); // 左側多出來的長度
    width: calc(100% + 1.5rem + 0.5rem); // 字串長度＋右側多出來的長度＋左側多出來的長度
    height: 60%;
  }
}
.card__title__hightlightWithIcon--lg {
  &:before {
    left: calc(-30px - 0.5rem - 1rem); // icon長度＋超出icon的長度＋margin長度
    width: calc(
      100% + 1.5rem + 30px + 0.5rem + 1rem
    ); // 字串長度＋右側多出來的長度＋icon長度＋超出icon的長度＋margin長度
    height: 65%;
  }
}
.card__title__hightlightNoIcon--lg {
  &:before {
    left: calc(-1rem); // 左側多出來的長度
    width: calc(100% + 1.5rem + 1rem); // 字串長度＋右側多出來的長度＋左側多出來的長度
    height: 65%;
  }
}
@for $i from 1 through 3 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.animatable {
  visibility: hidden;
  animation-play-state: paused;
}
.animated {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
  &.fadeIn {
    animation-name: fadeIn;
  }
  &.fadeInUp {
    animation-name: fadeInUp;
  }
  &.bounceIn {
    animation-name: bounceIn;
  }
  &.bounceInLeft {
    animation-name: bounceInLeft;
  }
  &.bounceInRight {
    animation-name: bounceInRight;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    transform: translateX(-20px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
