.specialQuotes {
  position: relative;
  padding: 2 * $spacer;
  text-align: justify;
  width: fit-content;
  margin: auto;
  &:before,
  &:after {
    content: "";
    position: absolute;
    @include icon($font-size-lg, $font-size-lg, $font-size-lg, $font-size-lg, center center, no-repeat, cover);
  }
  &:before {
    top: $spacer;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M224.001 74.328c5.891 0 10.667-4.776 10.667-10.667s-4.776-10.667-10.667-10.667c-123.653.141-223.859 100.347-224 224v64c-.185 64.99 52.349 117.825 117.338 118.01 64.99.185 117.825-52.349 118.01-117.338.185-64.99-52.349-117.825-117.338-118.01a117.675 117.675 0 00-96.506 49.861C23.48 163.049 113.514 74.485 224.001 74.328zM394.667 223.662a117.202 117.202 0 00-95.829 49.856c1.976-110.469 92.01-199.033 202.496-199.189 5.891 0 10.667-4.776 10.667-10.667s-4.776-10.667-10.667-10.667c-123.653.141-223.859 100.347-224 224v64c0 64.801 52.532 117.333 117.333 117.333S512 405.796 512 340.995s-52.531-117.333-117.333-117.333z' data-original='%232196F3' class='active-path' data-old_color='%232196F3' fill='%23009FB8'/%3E%3C/svg%3E");
  }
  &:after {
    bottom: $spacer;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.16 512.16' width='512' height='512'%3E%3Cpath d='M394.826 53.413c-64.801-.088-117.405 52.372-117.493 117.173s52.372 117.405 117.173 117.493a117.335 117.335 0 0096.149-49.856c-1.976 110.469-92.01 199.033-202.496 199.189-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c123.653-.141 223.859-100.347 224-224v-64c-.07-64.772-52.56-117.262-117.333-117.333zM117.493 53.413C52.692 53.325.088 105.785 0 170.587S52.372 287.991 117.174 288.08a117.335 117.335 0 0096.149-49.856c-1.976 110.469-92.01 199.033-202.496 199.189-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c123.653-.141 223.859-100.347 224-224v-64c-.071-64.773-52.562-117.263-117.334-117.334z' data-original='%232196F3' class='active-path' data-old_color='%232196F3' fill='%23009FB8'/%3E%3C/svg%3E");
  }
  & > :last-child {
    margin-bottom: 0;
  }
}
