@mixin button-color($button-background-color, $button-border-color, $button-box-shadow) {
    background-color: $button-background-color;
    border-color: $button-border-color;
    box-shadow: $button-box-shadow;
}