#howfamily {
  .howfamily__intro {
    &:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -10;
      background: url("/howfamily/howfamily_20210524.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .intro__image {
      width: 250px;
      min-width: 250px;
      img {
        border-radius: 1.5rem;
      }
    }
    .intro__content {
      img {
        height: 2.4rem;
      }
    }
  }
  .howfamily__podcast,
  .howfamily__posts {
    background-image: url("/background-image-dot.png");
    @include icon-background(center center, repeat, initial);
  }
  .howfamily__podcast {
    .podcast__channel {
      &:nth-of-type(1) {
        background-image: linear-gradient(180deg, #cd70f2, #8032b8);
      }
      &:nth-of-type(2) {
        background-image: linear-gradient(180deg, #2ece63, #0ba73f);
      }
      user-select: none;
      width: 241px;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      color: $white;
      img {
        width: 3rem;
      }
    }
  }
  .howfamily__calltoaction,
  .howfamily__subscribe {
    background-color: #eee7e5;
    h2 {
      color: $howfamily;
    }
    a.btn {
      color: $white;
      img {
        width: 1rem;
      }
    }
  }
  .howfamily__posts {
    article {
      width: 100%;
      position: relative; // for stretched-link
      display: grid;
      grid-template-rows: 3px 16px 8px 16.8px 16.2px 16px 4px;
      border-top: 3px solid $gray-100;
      border-bottom: 3px solid $gray-100;
      padding: $preview--padding;
      letter-spacing: initial;
      &.preview__article {
        grid-template-columns: auto 16px 80px;
        grid-template-areas:
          ". . featuredImage"
          "title . featuredImage"
          ". . featuredImage"
          "description . featuredImage"
          ". . featuredImage"
          "category . featuredImage"
          ". . featuredImage";
      }
      &.preview__article--noimage {
        grid-template-areas:
          "."
          "title"
          "."
          "description"
          "."
          "category"
          ".";
      }
      .preview__category {
        grid-area: category;
        overflow: hidden;
        img {
          width: 16px;
          height: 16px;
        }
        p {
          font-size: $font-size-sm;
          line-height: 1.2;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .preview__title {
        grid-area: title;
        color: $body-color;
        overflow: hidden;
        height: fit-content;
        h3 {
          font-size: $font-size-base;
          line-height: 1.2;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .preview__description {
        grid-area: description;
        font-size: $font-size-sm;
        line-height: 1.2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .preview__image {
        grid-area: featuredImage;
        width: 100%;
        height: 100%;
      }
      &:first-of-type {
        border-top-width: 6px;
      }
      &:last-of-type {
        border-bottom-width: 6px;
      }
    }
  }
  .howfamily__subscribe {
    .subscribe__description {
      width: 100%;
      ul li {
        border-bottom: thin dashed $howfamily;
        color: $howfamily;
      }
      span.h6 {
        font-weight: inherit;
        color: $howfamily;
        line-height: $line-height-base;
      }
    }
    button.btn {
      width: fit-content;
    }
    small {
      font-weight: 300;
      text-align: right;
    }
  }
}
.howfamily__title__hightlight {
  position: relative;
  z-index: 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 75%;
    z-index: -1;
    background-color: #ffefd7;
    width: 100%;
    height: 35%;
  }
}
@media (min-width: 576px) {
  #howfamily .howfamily__posts article {
    grid-template-rows: 3px 24px 9px 19.2px 17.8px 16px 4px;
    border-width: 1px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: $body--letter--spacing;
    &.preview__article {
      grid-template-columns: auto 16px 93px;
    }
    .preview__title h3 {
      font-size: $font-size-lg;
    }
    .preview__description {
      font-size: $font-size-base;
    }
    &:first-of-type {
      border-top-width: 2px;
    }
    &:last-of-type {
      border-bottom-width: 2px;
    }
  }
}
@media (min-width: 992px) {
  #howfamily .howfamily__posts article {
    width: 648px;
  }
  #howfamily .howfamily__subscribe .subscribe__description {
    width: 600px;
  }
}