#service {
  .service__intro {
    &:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -10;
      background: url("/about-me/about-me_20210524.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .intro__image {
      width: 250px;
      min-width: 250px;
      img {
        border-radius: 1.5rem;
      }
    }
    .intro__content {
      img {
        height: 2.4rem;
      }
    }
  }
  .service__website,
  .service__design,
  .service__advertise {
    background-image: url("/background-image-dot.png");
    @include icon-background(center center, repeat, initial);
  }
  .service__website {
    .website__item {
      border-bottom: 1px dotted $gray-400;
      &:nth-child(1) .item__icon {
        animation-duration: 3.4s;
      }
      &:nth-child(2) .item__icon {
        animation-duration: 3.7s;
      }
      &:nth-child(3) .item__icon {
        animation-duration: 3.1s;
      }
      &:nth-child(4) .item__icon {
        animation-duration: 4s;
      }
      .item__icon {
        user-select: none;
        width: 9rem;
        min-width: 9rem;
        height: 9rem;
        min-height: 9rem;
        background-color: $white;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
        animation: floating 4s ease-in-out infinite;
        img {
          width: 3rem;
          margin-top: 2rem;
          margin-bottom: 0.5rem;
        }
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
  .service__design {
    overflow: hidden;
    .container {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        opacity: 0.7;
        background-color: #f4f8fb;
        box-shadow: 0 0 60px 0 rgba(61, 72, 80, 0.05);
        transform: rotate(-45deg);
      }
    }
    .design__item a {
      user-select: none;
      position: relative;
      width: 250px;
      box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.15);
      overflow: hidden;
      img {
        width: 100%;
        position: relative;
        left: 0;
        transition: $transition-base;
      }
      h3 {
        position: absolute;
        width: 100%;
        background: rgba(255, 255, 255, 0.75);
        font-size: 1.5rem;
        line-height: 3rem;
        text-align: center;
        color: $body-color;
      }
      .item__info {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $primary;
        transition: $transition-base;
        span {
          padding: $btn-padding-y $btn-padding-x;
          border: 1px solid $white;
          border-radius: $btn-border-radius;
          color: $white;
        }
      }
      &:hover {
        img {
          left: 10%;
        }
        .item__info {
          left: 0;
        }
      }
    }
  }
  .service__advertise {
    .advertise__item {
      width: 100%;
      max-width: 600px;
      img {
        width: 5rem;
      }
    }
  }
  .service__contact {
    background-color: $white;
    a {
      color: $body-color;
      img {
        width: 1.5rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    span.h5 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      line-height: $line-height-base;
    }
  }
}
.service__title__hightlight {
  position: relative;
  z-index: 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 75%;
    z-index: -1;
    background-color: lighten($primary, 30%);
    width: 100%;
    height: 35%;
  }
}
@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0);
  }
}
