.container-fluid
  .swiper-container
    .swiper-wrapper
      .swiper-slide.container
        .ratio-box(style='padding-bottom: 50%')
          img(src='/carousel/carousel-1_20201127.jpg' alt=blogger.author)
      .swiper-slide.container
        .ratio-box(style='padding-bottom: 50%')
          img(src='/carousel/carousel-2_20210407.jpg' alt=blogger.author)
      .swiper-slide.container
        .ratio-box(style='padding-bottom: 50%')
          img(src='/carousel/carousel-3_20210429.jpg' alt=blogger.author)
    .swiper-pagination
    .container
      .swiper-button-prev
      .swiper-button-next