.sidebar__profile.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg Hi! 我是黃彥瑜
    a.ratio-box.mb-3(href='/admin/about-me' title='左撇子のGen' rel='author' style='padding-bottom: 100%;')
      picture
        source(data-srcset='/about-me/左撇子のGen_20201127.webp' type='image/webp')
        img.rounded-sm.lazyload(data-src='/about-me/左撇子のGen_20201127.jpg' alt='左撇子のGen')
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__job--gray
        p.h6.mb-0.ml-3.text-left 左撇子のGen - 油土伯
      .collapse
        span.text-left.text-muted YouTube：
          a(href='https://www.youtube.com/c/lefthanded_gen' target='_blank' rel='noreferrer noopener') 訂閱訂起來！
        span.text-left.text-muted Facebook：
          a(href='https://www.facebook.com/lefthanded.gen/' target='_blank' rel='noreferrer noopener') 按讚按起來！
        span.text-left.text-muted Instagram：
          a(href='https://www.instagram.com/lefthanded.gen/' target='_blank' rel='noreferrer noopener') 追蹤追起來！
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__education--gray
        p.h6.mb-0.ml-3.text-left 大阪市立大學
      .collapse
        span.text-left.text-muted 科系：資訊工程學系
        span.text-left.text-muted 入學許可書：
          a(href='https://drive.google.com/file/d/1ns11WFvMZ7RPCMJCHEn6-Vnr3Wxn8R8N/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
        span.text-left.text-muted 年度成績單：
          a(href='https://drive.google.com/file/d/11TReb_pAI_tvJ17ub4QagHItblR-N7f3/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__education--gray
        p.h6.mb-0.ml-3.text-left 國立中央大學
      .collapse
        span.text-left.text-muted 科系：資訊工程學系
        span.text-left.text-muted GPA：
          a(href='https://drive.google.com/file/d/165NBLWrPfrRaGcxLcBzRbWMaDeTeQFV1/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 3.7
        span.text-left.text-muted 畢業系排：
          a(href='https://drive.google.com/file/d/1h5wA3kA8PcyPBYtlQMO4PmOsC9s4Q8Fc/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 16%
        span.text-left.text-muted 畢業證書：
          a(href='https://drive.google.com/file/d/1w-QkvsXQ2fe_lkmpQ2QkyZ46MTVvwGOj/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
        span.text-left.text-muted 歷年成績單：
          a(href='https://drive.google.com/file/d/165NBLWrPfrRaGcxLcBzRbWMaDeTeQFV1/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
        span.text-left.text-muted 名次證明書： 
          a(href='https://drive.google.com/file/d/1h5wA3kA8PcyPBYtlQMO4PmOsC9s4Q8Fc/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__award--gray
        p.h6.mb-0.ml-3.text-left 日本語能力試驗 N1
      .collapse
        span.text-left.text-muted 證書：
          a(href='https://drive.google.com/file/d/14UrvQTj8WYoHyqxuDLpfMfwCdAeLCYOR/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__award--gray
        p.h6.mb-0.ml-3.text-left 日本台灣交流協會獎
      .collapse
        span.text-left.text-muted 獎金：48萬日幣
        span.text-left.text-muted 證書：
          a(href='https://drive.google.com/file/d/1-2tiPsYiBrL4SQrRHlLS_C-ZqEs6O6YL/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__award--gray
        p.h6.mb-0.ml-3.text-left 聯發科執行長蔡力行先生獎
      .collapse
        span.text-left.text-muted 獎金：13萬台幣
        span.text-left.text-muted 證書：
          a(href='https://drive.google.com/file/d/1Q4CSzi441XniIzRdIDcweuduASYtcGXA/view?usp=sharing' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
        span.text-left.text-muted 校園新聞：
          a(href='http://xn--fiq80yua95u.tw/campus/article/2156' target='_blank' rel='nofollow noreferrer noopener') 點我觀看
    hr
    button.d-flex.flex-column.w-100.border-0.p-2(type='button')
      .d-flex.align-items-center
        span.icon--size.icon__contact
        span.h6.mb-0.ml-3.text-left Contact Me
      .collapse
        span.text-left.text-muted Email:
          | 
          a(href='mailto:lefthanded.gen@gmail.com') lefthanded.gen@gmail.com
        span.text-left.text-muted LINE ID:
          | 
          a(href='https://line.me/ti/p/doWod14l-C' target='_blank' rel='noreferrer noopener') raisondetrehyy
.sidebar__youtube.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 也是個油土伯
    .ratio-box.mb-3(style='padding-bottom: 56.25% /* calc(9 / 16 * 100%)*/;')
      iframe.lazyload(data-src='https://www.youtube.com/embed/L7LWCE5OwOQ' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    a.btn.btn-secondary.ml-auto.d-flex.align-items-center(href='https://www.youtube.com/c/lefthanded_gen' target='_blank' rel='noreferrer noopener')
      span.btn__icon.icon__youtube--white
      span.ml-2 訂閱我的 YT
.sidebar__facebook.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 和你朋友一起讚
    #fb-container.d-flex
      .fb-page.ratio-box.text-center(data-href='https://www.facebook.com/lefthanded.gen/' data-width='500' style='padding-bottom: 130px')
        blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/lefthanded.gen/')
          a(href='https://www.facebook.com/lefthanded.gen/')
.sidebar__instagram.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 我喜歡的照片
    .instafeed__container.mb-3
      #instafeed
    a.btn.btn-secondary.ml-auto.d-flex.align-items-center(href='https://www.instagram.com/lefthanded.gen/' target='_blank' rel='noreferrer noopener')
      span.btn__icon.icon__instagram--white
      span.ml-2 追蹤我的 IG
.sidebar__categories.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 所有主題
    -for(categoriesDoc in categories)
      a.d-flex.align-items-center.rounded-sm.w-100.p-3(href='/admin/categories/' + categories[categoriesDoc].path)
        img.card__title__icon--lg.rounded-circle.lazyload(data-src=categories[categoriesDoc].thumbnail||blogger.othersThumbnail alt=categories[categoriesDoc].name)
        h5.h6.mb-0.ml-3=categories[categoriesDoc].name
    a.d-flex.align-items-center.rounded-sm.w-100.p-3(href='/admin/categories/others')
      img.card__title__icon--lg.rounded-circle.lazyload(data-src=blogger.othersThumbnail alt='其他')
      span.h6.mb-0.ml-3 其他
.sidebar__donate.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 自由樂捐
    a.d-flex.align-items-center.rounded-sm.w-100.p-3(href='/admin/donate')
      span.icon--size--lg.icon__donate
      span.h6.mb-0.ml-3 自由樂捐
.sidebar__subscribe.card
  .card-body.px-sm-0.px-lg-4.pt-3
    .d-flex.align-items-center.mb-4
      h3.h4.ml-3.mb-0.font-weight-bold.card__title__hightlightNoIcon--lg 訂閱電子報
    .card.subscribe__description
      p.mb-2 哈囉！喜歡左撇子のGen的內容嗎？訂閱後，你將會收到：
      ul.mb-0
        li.py-1.my-1 ✔︎ How家庭 最新內容
        li.py-1.my-1 ✔︎ 創業心路 最新內容
        li.py-1.my-1 ✔︎ 線下活動資訊
      span#subscribed.h5.text-center.my-5.d-none 恭喜你，訂閱成功囉
      form#subscribe.mt-3(action='/subscribe' method='POST' autocomplete='off')
        .form-group
          input#subscriber.form-control(type='text' name='subscriber' placeholder='Name' spellcheck='false' onkeydown="return event.key != 'Enter';")
          .messages
        .form-group
          input#email.form-control(type='email' name='email' placeholder='Email' spellcheck='false' onkeydown="return event.key != 'Enter';")
          .messages
        button.btn.btn-secondary.ml-auto.d-flex.align-items-center(type='submit')
          span.btn__icon.icon__subscribe--white
          span.ml-2 免費訂閱